# Node
node_modules/

# Build
dist/
build/

# Logs
*.log

# Environment
.env
.env.*

# Prisma
prisma/dev.db
prisma/dev.db-journal

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db



# pnpm
pnpm-lock.yaml

# yarn
yarn.lock
